<div class="content">
	<div class="text">
		<div class="row">
			<div class="col-sm-6">
				<h1>About Rosanne</h1>
			</div>
			<div class="col-sm-6">
				<img src="images/biophoto.jpg" class = "bioPhoto" alt="Rosanne Ussery">
			</div>
		</div>
		<br>
		<p>My prior work experience has been in law enforcement, both as a
			student officer and thirteen years in dispatch at Colorado State
			University. My position as a dispatcher taught me to pay attention to
			detail and work well in stressful environments.</p>
		<p>
			I left law enforcement to attend <a
				href="http://skilldistillery.com/" target="blank">Skill
				Distillery</a>'s full stack development program because I wanted
			different experiences and a new career. I am looking forward to the
			challenges and opportunities in my new field.
		</p>
		<p>Programming appeals to me because I enjoy learning how we
			communicate with the world. Programming languages are another form of
			communication, giving us beautiful ways of speaking to each other and
			translating tools into user experiences.</p>
		<p>My goal is to become a lifetime learner and an expert in my
			field. I want to learn how to craft elegant solutions to problems and
			find new ways to develop the online world. My degrees in psychology
			and sociology allow me to understand basic motivations and better
			understand the needs underlying user stories. Using my MFA in
			creative writing will allow me to create easy-to-understand guides
			for processes and protocols as well as well-crafted web content.</p>
		<p>I have always enjoyed peeling back the curtain to see how
			things work. Being able to manipulate the software universe and build
			new and artful things appeals to me, especially since the tools are
			there for the taking. Programming languages are not unapproachable
			for people who have a grasp of logic and symmetry. I believe I am one
			of those people and I am looking forward to seeing what I can learn
			and accomplish as a software developer.</p>
	</div>
</div>
