<div class="content">
	<div class="text">


		<div class="row">
			<div class="col-sm-6">
				<h1>Projects</h1>
			</div>
			<div class="col-sm-6">
				<img src="images/robotFix.jpeg" class="bioPhoto" />
			</div>

		</div>
		<br>
		<p>These projects have taught me a lot and are allowing me to grow
			my skills and learn new techniques in Java, MySQL, Spring, JavaScript
			HTML, CSS, and beyond. They are listed in order of completion and
			show my increasing skill level. The
			projects underneath the Skill Distillery header were completed
			between October 2017 and January 2018. The personal projects are
			ongoing.</p>

		<hr>
		<div class="projectsContent">
			<h2>Personal/Volunteer Projects</h2>
			<dl>
				<dt>A Novel Game</dt>
				<dd>A web-based game for authors to enable them to weild their
					wordcounts to defeat monsters and save the day.
				<dd>In design stage. Not deployed yet. Kickstarter planned for
					6/2018 to fund deployment and artwork</dd>
				<dt>Burning Man Census Volunteer Survey Interface</dt>
				<dd>Web application to allow Burning Man Census volunteers to
					sign in and volunteer for shifts. Checks their qualifications
					against the shifts they apply for and allows them to view the
					shifts they have currently applied for. Meant for both off- and
					on-playa use. Working with a team to complete back and front end
					integration with existing PHP structures.
				<dd>Building out the back end entities and front end views. Not
					deployed yet.</dd>
				<dt>Shiny Garden Convention Programming Tool</dt>
				<dd>Web application to allow convention runners to assign
					panelists to panels, determine rooms and scheduling, and other
					tasks. Requires MySQL database, Java back end, JavaScript front end.
				<dd>Creating database. Not deployed yet.</dd>
			</dl>

			<h2>Skill Distillery Projects</h2>
			<div class="row">
				<div class="col-sm-6">
					<h3>Group Projects:</h3>
					<ul class="projectsList">
						<li><a href="http://18.216.132.236:8080/MVCFilmSite/"
							target="_blank">Film Query Site</a></li>
						<li><a href="http://18.216.132.236:8080/USPresidentsWeb/"
							target="_blank">US Presidents</a></li>
						<li><a
							href="http://18.216.132.236:8080/MVCMidtermProject/index.do"
							target="_blank">Midterm Project: Colorado Microsanctuary
								Equipment Exchange</a></li>
						<li><a href="http://18.216.132.236:8080/MVCProject/"
							target="_blank">Final Project: WorkIt</a></li>
					</ul>
				</div>
				<div class="col-sm-6">
					<h3>Individual Projects</h3>
					<ul class="projectsList">
						<li><a href="http://18.216.132.236:8080/ShoppingCart/"
							target="_blank">Shopping Cart</a></li>
						<li><a href="http://18.216.132.236:8080/USStates/"
							target="_blank">US States</a></li>
						<li><a
							href="http://18.216.132.236:8080/CharacterTrackingWeb/"
							target="_blank">Character Tracker</a></li>
					</ul>
				</div>
			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-sm">
				<h3>Technologies Used:</h3>
				<br>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm">
				<img src="images/mysql.png" height="75"> <img
					src="images/hibernate.png" height="75"> <img
					src="images/gradle.png" height="75"> <img
					src="images/java.png" height="75"> <img
					src="images/eclipse.png" height="75"> <img
					src="images/springicon.png" height="75"> <img
					src="images/Tomcat.jpg" height="75"> <img
					src="images/html5.jpg" height="75"> <img src="images/css.png"
					height="75"> <img src="images/bootstrap-stack.png"
					height="75"> <img src="images/javascriptlogo.png" height="75">
				<img src="images/trello.png" height="75">
			</div>
		</div>
		<br> <br>
	</div>
</div>
