<div class="content">
	<div class="text">
		<div class="row">
			<div class="col-sm-6">
				<h1>Resume</h1>
			</div>
			<div class="col-sm-6">
				<img src="images/robotLightBulb.jpg" class="bioPhoto" />
			</div>

		</div>
		<br>
		<div class="resumeHeader">
			<h2>Rosanne Ussery</h2>
		</div>

		<h4>Summary</h4>
		Experience working on teams at a fast pace to complete goals on a
		timeline both in and out of sprints. Strong communication skills, able
		to convey concepts quickly and concisely. Met multiple deadlines while
		making quick and accurate decisions. Continual ongoing education in
		programming languages, new technologies, processes, management
		practices, and document-development. <br> <br>
		<h4>Experience</h4>

		<h5>Shiny Garden Convention Planner 2018-Present</h5>
		<ul>
			<li>Creating full CRUD functionality for a web application to
				manage conventions.</li>
			<li>Using Java/EE, JavaScript (AngularJS), Eclipse/STS, MySql,
				JUnit, HTML, CSS, BitBucket to develop website with Shiny Garden
				Treasurer.</li>
		</ul>

		<h5>Burning Man Census Volunteer Service Interface 2017-Present</h5>
		<ul>
			<li>Created full CRUD functionality for a web application to
				track census volunteers</li>
			<li>Used Java/JEE, JavaScript (AngularJS), Eclipse/STS, MySQL,
				Hibernate, Gradle, JUnit, HTML, CSS, GitHub to develop website with
				an online team.</li>
		</ul>

		<h5>Police Communication Technician, 2004-2017, CSUPD</h5>
		<ul>
			<li>Handled police dispatch, alarms, and secure information</li>
			<li>Developed training manuals and policy documents based on
				best practices and in-house guidelines</li>
		</ul>

		<h5>Production Manager, 2014-2015 WordFire Press</h5>
		<ul>
			<li>Managed end-to-end production of high-quality fiction and
				nonfiction publications</li>
			<li>Created production schedule and tracked titles through
				milestones</li>
			<li>Coordinated editorial, production, proofing, and design
				staff to produce smooth flow of projects through all phases of
				project development
			<li>Analyzed system workflow to improve product and processes</li>
		</ul>
		<h4>Skills</h4>

		<dl>
			<dt>Knowledge of the Following Programming Languages and
				Technologies:</dt>
			<dd>Java/JEE, JavaScript/AngularJS, HTML, CSS/Bootstrap</dd>
			<dt>Authoring/publishing tools:</dt>
			<dd>15+ years' experience using Microsoft Word to compose and
				publish documents;</dd>
			<dd>15+ years' experience using PowerPoint to create
				presentations;</dd>
			<dd>3 years' user experience with WordPress</dd>
			<dt>Staff Management</dt>
			<dd>11 years' training and supervising new employees in order to
				improve safety, efficiency and department skill level.</dd>
		</dl>

		<h4>Education</h4>
		<ul>
			<li><h5>Certificate: Full Stack Web Development with Java
					and MEAN</h5>- Skill Distillery Denver, CO</li>
			<li><h5>Master of Arts: Creative Writing</h5>- Regis University,
				Denver, CO</li>
			<li><h5>Bachelor of Science: Applied Psychology (honors)</h5>-
				Regis University, Denver, CO</li>
			<li><h5>Bachelor of Arts: Social Sciences (honors)</h5>- Regis
				University, Denver, CO</li>
		</ul>

		<h4>Societies and Hobbies</h4>
		Active member of Northern Colorado Writers Workshop (NCWW) <br>
		Professionally published fiction and nonfiction author (as Vivian
		Caethe)
	</div>
</div>
