<div class="navdiv">
	<span>
		<ul class="topnav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/resume">Resume</a></li>

			<li class="btnright"><a href="https://www.linkedin.com/in/rosanne-ussery-21959b140/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></li>
			<li class="btnright"><a href="https://github.com/RosanneUssery" target="_blank"><i class="fab fa-github-square fa-lg"></i></a></li>
			<li class="btnright"><a href="https://twitter.com/RosanneUssery" target="_blank"><i class="fab fa-twitter-square fa-lg"></i></a></li>
	</ul>
	</span>
</div>
